/.vs
/ARM64/Debug
/sweph-ARM/ARM64/Debug
sweph-ARM/ARM64/Release/swecl.obj
sweph-ARM/ARM64/Release/swedate.obj
sweph-ARM/ARM64/Release/swehel.obj
sweph-ARM/ARM64/Release/swehouse.obj
sweph-ARM/ARM64/Release/swejpl.obj
sweph-ARM/ARM64/Release/swemmoon.obj
sweph-ARM/ARM64/Release/swemplan.obj
sweph-ARM/ARM64/Release/sweph-ARM.Build.CppClean.log
sweph-ARM/ARM64/Release/sweph-ARM.dll.recipe
sweph-ARM/ARM64/Release/sweph-ARM.iobj
sweph-ARM/ARM64/Release/sweph-ARM.log
sweph-ARM/ARM64/Release/sweph-ARM.tlog/CL.command.1.tlog
sweph-ARM/ARM64/Release/sweph-ARM.tlog/Cl.items.tlog
sweph-ARM/ARM64/Release/sweph-ARM.tlog/CL.read.1.tlog
sweph-ARM/ARM64/Release/sweph-ARM.tlog/CL.write.1.tlog
sweph-ARM/ARM64/Release/sweph-ARM.tlog/link.command.1.tlog
sweph-ARM/ARM64/Release/sweph-ARM.tlog/link.read.1.tlog
sweph-ARM/ARM64/Release/sweph-ARM.tlog/link.secondary.1.tlog
sweph-ARM/ARM64/Release/sweph-ARM.tlog/link.write.1.tlog
sweph-ARM/ARM64/Release/sweph-ARM.tlog/sweph-ARM.lastbuildstate
sweph-ARM/ARM64/Release/sweph-ARM.vcxproj.FileListAbsolute.txt
sweph-ARM/ARM64/Release/sweph.obj
sweph-ARM/ARM64/Release/swephlib.obj
sweph-ARM/ARM64/Release/swevents.obj
sweph-ARM/ARM64/Release/vc143.pdb
sweph-ARM/ARM64/Release/swedll64-ARM.Build.CppClean.log
sweph-ARM/ARM64/Release/swedll64-ARM.dll.recipe
sweph-ARM/ARM64/Release/swedll64-ARM.iobj
